body {
  margin: 0px;
  background: black; /* later use media selector for theme */
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0099ff; /* later use media selector for theme */
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px 0px #33b4ff;
  }
  to {
    box-shadow: 0 0 30px 7px #33b4ff;
  }
}

#navbar {
  background: #318ce0;
  /* opacity: 0.9; */
  display: flex;
  margin: 1em;
  border-radius: 1em;
  justify-content: start;
  padding-left: 2em;
  padding-right: 2em;
  animation: glow 4s cubic-bezier(0.79, 0.0, 0.2, 0.5) infinite alternate;
}

.nav-blocks {
  padding: 1em;
  text-align: center;
  color: black;
  background: inherit;
  transition: background 0.1s linear;
}

.nav-blocks:hover {
  background: green;
  transition: background 0.1s linear;
}

#content {
  margin: 1em;
  margin-top: 0px;
}

.material-symbols-rounded {
  vertical-align: middle;
  font-size: 1.4em;
}