:root {
  --glowcolor: #008cff; /* before: 33b4ff */
}

body {
  margin: 0px;
  background: black; /* later use media selector for theme */
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0099ff; /* later use media selector for theme */
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px 0px var(--glowcolor);
  }
  to {
    box-shadow: 0 0 30px 7px var(--glowcolor);
  }
}

#navbar {
  background: #0a8dff; /* before: 318ce0 */
  /* opacity: 0.9; */
  display: flex;
  flex-direction: row;
  margin: 1em;
  border-radius: 1em;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  animation: glow 4s cubic-bezier(0.79, 0.0, 0.2, 0.5) infinite alternate;
}

#nav-left, #nav-right {
  display: flex;
  flex-direction: row;
}

.nav-blocks {
  padding: 1em;
  text-align: center;
  color: black;
  background: inherit;
  transition: background 0.1s linear;
  border-radius: 2px;
}
    
.nav-blocks:hover {
  background: #006cd1;
  transition: background 0.1s linear;
}

a > .nav-blocks > span {
  margin-right: 4px;
}

#content {
  margin: 2em;
  margin-top: 1em;
}

.material-symbols-rounded {
  vertical-align: middle;
  font-size: 1.5em;
}

#logout {
  display: hidden;
}

#logoutbutton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

hr {
  border: none;
  background: #d4d4d4;
  border-radius: 20px;
  width: 25%;
  margin-left: 0px;
  margin-top: 1.2em;
  height: 0.4em;
}

.post {
  max-width: 800px;
  margin: 0.5em auto;
  padding: 1em;
  padding-top: 0.25em;
  padding-bottom: 0em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  border: 3px solid darkgray;
  border-radius: 1em;
}

.post-pfp {
  aspect-ratio: 1/1;
  margin-top: 0.75em;
  width: 3em;
  align-self: start;
  position: sticky;
  top: 0;
  border-radius: 50%;
  border: 1px solid darkgray;
  overflow: hidden; /* this is for when i actually put images */
}

.post-pfp > img {
  max-width: 100%;
}

.post-content {
  grid-column-start: 2;
  padding: 0.5em;
  padding-top: 0.75em;
  word-break: break-word; /*breaks really long words to prevent overflow*/
  overflow-wrap: break-word; /*same as word wrap. use both to support firefox*/
  word-wrap: break-word; /*break normally also*/
}

.post-username {
  padding: 0.5em;
  font-weight: bold;
  border-bottom: solid 2px lightgray;
}

.post-username > a {
  text-decoration: none;
  color: inherit;
}

.post-contentgrid {
  display: flex;
  flex-direction: column;
}

.post-tools {
  border-top: 1px solid #4e4e4e;
  padding: 0.5em;
}

.post-tools > span {
  font-size: 1.5em;
  margin: 0em 0.25em;
}
