body {
  margin: 0px;
  background: black; /* later use media selector for theme */
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0099ff; /* later use media selector for theme */
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px 0px #33b4ff;
  }
  to {
    box-shadow: 0 0 30px 7px #33b4ff;
  }
}

#navbar {
  background: #318ce0;
  /* opacity: 0.9; */
  display: flex;
  flex-direction: row;
  margin: 1em;
  border-radius: 1em;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  animation: glow 4s cubic-bezier(0.79, 0.0, 0.2, 0.5) infinite alternate;
}

#nav-left, #nav-right {
  display: flex;
  flex-direction: row;
}

.nav-blocks {
  padding: 1em;
  text-align: center;
  color: black;
  background: inherit;
  transition: background 0.1s linear;
  border-radius: 2px;
}

.nav-blocks > a {
  color: inherit;
}
    
.nav-blocks:hover {
  background: #006cd1;
  transition: background 0.1s linear;
}

.nav-blocks > a > span {
  margin-right: 4px;
}

#content {
  margin: 2em;
  margin-top: 1em;
}

.material-symbols-rounded {
  vertical-align: middle;
  font-size: 1.5em;
}
