{% extends "base.html" %}
{% block title %}{{mode.title()}}{% endblock %}
{% block css %}login{% endblock %}
{% block content %}

{% if mode == "login" %}
  <h1>Login to your account</h1>
  <p class="greytext">Don't have an account? <a href="/signup">Sign up</a>.</p>
  {% set buttontext = "Log in" %}
{% else %}
  <h1>Create an account</h1>
  <p class="greytext">Already have an account? <a href="/login">Log in</a>.</p>
  {% set buttontext = "Create account" %}
{% endif %}

<form action="/{{mode}}" method="post">
  <div class="input-container">
    <p class="greytext smaller">Username</p>
    <span class="material-symbols-rounded">account_circle</span><input type= "text" name="username" required>
  </div>

  <div class="input-container">
    <p class="greytext smaller">Password</p>
    <span class="material-symbols-rounded">lock</span><input type= "password" name="password" required>
  </div>
  <div id="button-container">
    {% if error %}
    <div id="message">
       <div id="icon"><span class="material-symbols-rounded">warning</span></div>
       <span id="error">{{error}}</span>
    </div>
    {% endif %}
    <input class="buttons" type="reset" value="Clear all" /><input class="buttons" type="submit" value="{{buttontext}}" />
  </div>
</form>
{% endblock %}
