{% macro post(user="testuser", pfp="https://placehold.jp/150x150.png", content= "Abcdefghijklmnop rgtertge grtertge gtr") %} <!--could also pass dict ad access post.user, post.content-->
  <div class = "post">
    <div class = "post-pfp"><img src="{{pfp}}"></div>
    <div class = "post-contentgrid">
      <div class = "post-username">{{user}}</div>
      <div class = "post-content">{{content}}</div>
      <div class = "post-tools">
        <span class="material-symbols-rounded"></span> <span class="material-symbols-rounded">cycle</span> <span class="material-symbols-rounded">chat_bubble</span> <!-- put varable stylesheet of material symbols to fill heart icon by css-->
      </div>
    </div>
  </div>
{% endmacro %}