{% from "macros.html" import post %}
{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block css %}main{% endblock %}

{% block content %}
<h1>Welcome {{user}}</h1>
You have {% if not loggedin %}not {% endif %} logged in.
<hr>
{% for I in range(5) %}
  {{ post(content="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA") }}
  {{ post(content="abcbcdcddsfff fafasssabcbcdcd dsffffafasssabcbc dcddsffffafass sabcbcdcddsfff fafasssabcbcds") }}
{% endfor %}
{% endblock %}